---
import BaseLayout from "../tenon-layout/blog/BaseLayout.astro";
import Profile from "@tenon-theme/fuwari/widget/Profile.astro";
import TagCloud from "@tenon-theme/fuwari/widget/TagCloud.astro";
import Categories from "@tenon-theme/fuwari/widget/Categories.astro";
import PostCard from "@tenon-theme/fuwari/PostCard.astro";
import { getModuleEntries } from "../utils/content-utils";

const posts = await getModuleEntries("posts");
---

<BaseLayout title="首页" description="极致纯粹、动静绝对分离的现代动态内容引擎。" isHome={true}>
	<Fragment slot="sidebar">
		<Profile />
		<TagCloud />
		<Categories />
	</Fragment>

	<div class="post-card-list">
		{posts.slice(0, 8).map((post, i) => (
			<PostCard entry={post} animationDelay={i * 50} />
		))}
	</div>
</BaseLayout>
