---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";
import { t, getCurrentLocale } from "../i18n";

const currentYear = new Date().getFullYear();
const locale = getCurrentLocale();
---

  
<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">2024 - {currentYear}</span> <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://space.bilibili.com/15375082"> {profileConfig.name} </a><span data-i18n-footer="licensed">{t("footer.licensed", locale)}</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> <span data-i18n-footer="license">{t("footer.license", locale)}</span>
        <br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')} data-i18n-footer="rss">{t("footer.rss", locale)}</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')} data-i18n-footer="sitemap">{t("footer.sitemap", locale)}</a>
        <br>
        <span data-i18n-footer="poweredBy">{t("footer.poweredBy", locale)}</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> <span data-i18n-footer="and">{t("footer.and", locale)}</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a> <span data-i18n-footer="powered">{t("footer.powered", locale)}</span>
        <br>
        <span data-i18n-footer="codeOpenSource">{t("footer.codeOpenSource", locale)}</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/evepupil/notion-fuwari" data-i18n-footer="isOpenSource">{t("footer.isOpenSource", locale)}</a>
        <br>


    </div>
</div>
